---
import { Image } from 'astro:assets';
const props = Astro.props;
const myImageWidth = 400; // Exemple de largeur d'image
---

<div class="mt-6">
    <hr class="mx-6 md:mx-20 lg:mx-36 my-8">
    <!-- Intro -->
    <div class="items-center mb-12">
        <div class="prose prose-sm sm:prose lg:prose-lg">
            <div set:html={props.desc.introduction ? props.desc.introduction.html: "<h2>No Data</h2>"}></div>
        </div>
    </div>
    <hr class="mx-6 md:mx-20 lg:mx-36 my-8">
    <!-- Corps -->
    <div class="items-center mb-12">
        <div class="prose prose-sm sm:prose lg:prose-lg">
            <div set:html={props.desc.corps ? props.desc.corps.html: "<h2 class='text-black'>No Data</h2>"} class="mx-auto"></div>
        </div>
    </div>
    <hr class="mx-6 md:mx-20 lg:mx-36 my-8">
    <!-- Conclusion -->
    <div class="items-center mb-12">
        <div class="prose prose-sm sm:prose lg:prose-lg">
            <div set:html={props.desc.conclusion ? props.desc.conclusion.html: "<h2>No Data</h2>"}></div>
        </div>
    </div>
</div>


