---
import Header from "../../components/common/Header.vue"
import Footer from "../../components/common/Footer.astro";
import Prose from "../../components/services/Prose.astro";
import { Image } from 'astro:assets';
import Logo from '../../assets/logo-26.quatre.webp';
import { fetchServices } from '../../stores/servicesStore.js';


interface Service {
  title: string;
  longTitle: string;
  slug: string;
  pageDescriptive: {
    introduction: {
      html: String;
    }
    corps: {
      html: String;
    }
    conclusion: {
      html: String;
    }
  };
  image: {
    url: string;
  };
}
const services: Service[] = await fetchServices();

export async function getStaticPaths() {
  const services: Service[] = await fetchServices().then((res) => res.services);
  return services.map(({ slug, title, longTitle, pageDescriptive, image }) => {
    return {
      params: { slug },
      props: { title,longTitle,  pageDescriptive, image },
    };
  });
}

const { title, longTitle, pageDescriptive, image } = Astro.props;
---
<html lang="fr">
	<head>
		<title>{ title }</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	</head>
	<body>
		<div
			class="bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 min-h-screen"
		>
			<Header client:load logo={Logo} />
      <body>
        <div class="bg-white min-h-screen">
          <!-- image picture -->
          <div class="w-full md:h-[60vh]">
            <img src={image ? image.url: 'https://unsplash.com/fr/photos/un-chemin-enneige-dans-une-foret-enneigee-6HLFk334hYY'} alt="image" class="w-full h-full object-cover" loading="lazy" />
          </div>
          <div class="max-w-7xl mx-auto bg-white py-12 px-12 lg:px-24 md:-mt-32 relative z-10 rounded-md shadow-md">
            <h1 class="font-display text-center text-2xl md:text-3xl text-gray-900 mt-4" data-aos="zoom-out" data-aos-duration="1000">{longTitle}</h1>
            <Prose desc={ pageDescriptive ? pageDescriptive : '<div>No data</div>'}/>
          </div>
        </div>
      </body>
			<Footer services={services}>
				<Image src={Logo} alt="Logo" width="240" height="60"/>
			</Footer>
		</div>
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
	</body>
</html>