---
import Header from "../../components/common/Header.vue"
import Footer from "../../components/common/Footer.astro";
import { Image } from 'astro:assets';
import Logo from '../../assets/logo-26.quatre.webp';
import { fetchServices } from '../../stores/servicesStore.js';

interface Service {
  title: string;
  longTitle: string;
  slug: string;
  description: {
    html: string;
  };
  image: {
    url: string;
  };
}
const services: Service[] = await fetchServices();

export async function getStaticPaths() {
  const services: Service[] = await fetchServices().then((res) => res.services);
  return services.map(({ slug, title, longTitle, description, image }) => {
    return {
      params: { slug },
      props: { title,longTitle,  description, image },
    };
  });
}

const { title, longTitle, description, image } = Astro.props;
---
<html lang="fr">
	<head>
		<title>{ title }</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	</head>
	<body>
		<div
			class="bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 min-h-screen"
		>
			<Header client:load logo={Logo} />
      <body>
        <div class="bg-white flex flex-col items-center justify-between min-h-screen">
          <!-- image picture -->
          <div class="w-full md:h-[60vh]">
            <img src={image ? image.url: 'https://unsplash.com/fr/photos/un-chemin-enneige-dans-une-foret-enneigee-6HLFk334hYY'} alt="image" class="w-full h-full object-cover" loading="lazy" />
          </div>
          <h3 class="text-3xl text-gray-700 capitalize">{longTitle}</h3>
          <div class="w-5/6 md:w-3/4 lg:w-2/3 xl::w-1/2 bg-purple-50 rounded-md shadow-lg p-4 mt-4 mb-12"  data-aos="zoom-out" data-aos-duration="1000">
            <p set:html={ description ? description.html: '<div>No data</div>'} class="text-center"></p>
          </div>
        </div>
      </body>
			<Footer services={services}>
				<Image src={Logo} alt="Logo" width="240" height="60"/>
			</Footer>
		</div>
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
	</body>
</html>