---
// Importez votre composant Vue
import Header from "../components/common/Header.vue"
import Footer from "../components/common/Footer.astro";
import HeroSection from "../components/common/HeroSectionWrapper.astro";
import ServicesSection from "../components/ServicesSection.astro";
import { Image } from 'astro:assets';
import Logo from '../assets/logo-26.quatre.webp';

interface Service {
  title: string;
  slug: string;
  shortDescription: string;
}

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        services {
			title
			slug
			shortDescription
			firstPageColor {
				hex
			}
		}
      }`,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
const services: Service[] = json.data;
---

<html lang="fr">
	<head>
		<title>26quatre - Services Data</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	</head>
	<body>
		<div
			class="bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 min-h-screen"
		>
			<Header client:load logo={Logo} />
			<HeroSection services={services}/>
			<ServicesSection services={services}/>
			<Footer>
				<Image src={Logo} alt="Logo" width="240" height="60"/>
			</Footer>
		</div>
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
	</body>
</html>
