---
const { services } = Astro.props;
const serv = services.services;
const address =  {
    street: '639 avenue du 8 mai 1945',
    city: 'Ondres',
    zip: '40440',
    country: 'France'
}
---

<footer class="bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 text-white p-6">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
        <div class="mb-6 md:mb-0">
            <slot></slot>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <div class="mb-4 md:mb-0">
                    <h5 class="font-semibold text-lg mb-2">Services</h5>
                    <ul>
                        {serv.map((service: { slug: string, title: string }) => (
                            <li class="text-sm">
                                <a href={service.slug} class="hover:text-primary-500">{ service.title }</a>
                            </li>
                        ))}
                    </ul>
                </div>
            <div class="col-span-2 md:col-span-1">
                <h5 class="font-semibold text-lg mb-2">Adresse</h5>
                <p class="text-sm">{ address.street }</p>
                <p class="text-sm">{ address.city }, { address.zip }</p>
                <p class="text-sm">{ address.country }</p>
            </div>
        </div>
    </div>
</footer>